In [42]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split

In [43]:
df=pd.read_csv("dataset.csv")

In [44]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [45]:
real_x=df.iloc[:,0:4]

In [46]:
real_x=real_x.to_numpy()

In [47]:
real_y=df.iloc[:,4]

In [48]:
le=LabelEncoder()
sc=StandardScaler()

In [49]:
real_x[:,1]=le.fit_transform(real_x[:,1])

In [50]:
real_x=sc.fit_transform(real_x)

In [63]:
classifier=RandomForestClassifier(n_estimators=20,criterion="entropy",random_state=0)

In [58]:
training_x,testing_x,training_y,testing_y=train_test_split(real_x,real_y,test_size=0.3,random_state=0)

In [64]:
classifier.fit(training_x,training_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [65]:
pred_y=classifier.predict(testing_x)

In [66]:
c=confusion_matrix(testing_y,pred_y)
c

array([[74,  5],
       [ 4, 37]])

In [67]:
score=accuracy_score(testing_y,pred_y)
score

0.925